// ============= start map ==============

.map {
  margin: 105px 0;
  overflow: hidden;
  #map {
    height: 260px;
    border-radius: 10px;
    width: 100%;
  }
}

// ============= end map ================
