/*====================== start header layout======================================*/

.header {
  // height: 600px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 86px #00000029;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: rgba($color: #000000, $alpha: 0.5);
  // }

  .owl-carousel {
    position: relative;
    height: 100%;
  }

  .owl-carousel div:not(.owl-controls) {
    height: 100%;
  }

  .owl-carousel .slide-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0;
  }

  .info {
    h1 {
      color: #e6212a;
      font-size: 60px;
      font-family: "Tajawal-Black";
    }
    span {
      font-size: 38px;
      color: #fff;
      font-family: "Tajawal-Black";
    }
    p {
      font-size: 16px;
      font-family: "Tajawal-Regular";
      padding: 16px 0 34px;
      color: #fff;
    }
    form {
      direction: rtl;
      position: relative;

      i {
        position: absolute;
        left: 72px;
        top: 64%;
        font-size: 40px;
        color: #e6212a;
      }
      input {
        border-radius: 26px;
        height: 48px;
        width: 373px;
        padding: 15px 17px;
        color: #8d8d8d;
        margin-bottom: 16px;
      }

      button {
        width: 111px;
        height: 41px;
        background: #e6212a 0% 0% no-repeat padding-box;
        border-radius: 22px;
        color: #fff;

        &:hover {
          color: #e6212a;
          border-color: #e6212a;
          background-color: #fff;
        }
      }
    }
  }

  .header_image {
    width: 100%;
    height: 470px;

    img {
      animation: upanddown 3s infinite linear;
      transition: 0.5s;
    }
  }
}

@keyframes upanddown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/*====================== end header layout ======================================*/
