// ========= start media ==========
@media (min-width: 1191px) {
  .nav .all_content {
    gap: 55px;
  }
}

@media (max-width: 991px) {
  .about .about_boxes {
    margin-top: 0 !important;
  }
  .footer .listed {
    gap: 150px;
    justify-content: center;
  }
  .footer h4 {
    margin-top: 26px;
    text-align: center;
  }
  .vision {
    padding: 40px 0 50px;
  }
  .about {
    margin: 50px 0;
  }
  .map {
    margin: 30px 0;
  }

  .nav .all_content .navbar_itmes,
  .nav .search_nav .contact_us {
    display: none;
  }

  .search_nav .navbar-toggler {
    display: block !important;
    i {
      width: 30px;
      height: 30px;
      background: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .footer .social_icon {
    display: none;
  }
  .vision .section_two .two {
    padding: 20px;
  }
  .header .info form i {
    top: 92%;
  }
  .header .header_image {
    margin-top: 20px;
  }
  .nav .all_content .logo {
    margin-top: 10px;
  }
  .nav .search_nav {
    gap: 9px;
  }
  .nav .search_nav a.icon_search {
    width: 35px;
    height: 35px;
  }
  .nav .search_nav a.icon_search:after {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 575px) {
  .footer .listed {
    gap: 90px;
    // justify-content: flex-start;
  }
  .owl-theme .owl-dots .owl-dot {
    width: 35px;
  }
  .header .info h1 {
    font-size: 35px;
  }

  .header .info span {
    font-size: 20px;
  }

  .header .info form input {
    width: 100%;
  }
}
// ========= end media ==========
